* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

label {
    margin-bottom: 8px;
}

#conteudo-principal {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#tela-adicionar-tarefa {
    width: 400px;
    height: 350px;
    background: #fff;
    border-radius: 20px;
}

#botoes-lista-tarefa {
    width: 320px;
    margin: 0 auto;
}

#cabecalho {
    text-align: center;
    padding: 25px;
}

#btn-adicionar {
    width: 150px;
    float: right;
}

#btn-ver-tarefas {
    width: 150px;
}

#campo-titulo {
    height: 77px;
    margin-bottom: 20px;
}

#campo-descricao {
    height: 77px;
}

.botao {
    padding: 15px;
    color: #fff;
    border-radius: 20px;
    border: 0;
    cursor: pointer;
}

.fundo-verde {
    background-color: green;
}

.fundo-azul {
    background: #123142;
}

#campos-formulario {
    width: 320px;
    margin: 0 auto 20px auto;
}

.display-block {
    display: block;
}

.entrada-dados {
    width: 300px;
    padding: 8px;
    border-radius: 10px;
    border: 1px solid black;
}

.mensagem-erro {
    color: red;
    margin-top: 5px;
    font-size: 12px;
}